.portfolio__card__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 99px;
	width: 66%;
}

.portfolio__card__title {
	width: 115%;
	text-align: center;
	margin-top: 46px;
	color: #000000;
}

.portfolio__card__img {
	overflow: hidden;
	width: 100%;
}

.portfolio__card__img img {
	transition: 500ms;
}

.portfolio__card__img img:hover{
	transform: scale(1.05);
}

.portfolio__card__container a:hover {
	color: #383838;
}